@import "tailwindcss";

@theme {
  --color-primary: #1C2B2B;
  --color-primary-600: #2978c6;
  --color-muted: #6b7280;
  --bg: #F4F4F0;
  --surface: #FFFFFF;
  --text: #F4F4F0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg);
}

.login-container {
  border : 1px solid var(--color-primary);
  background-color: var(--color-surface);
  color: var(--color-primary);
}






